.topnav {
  height: 35px;
  width: 100%;
  background-color: $blue-1;
}

.topnav-link {
  cursor: pointer;
  font-weight: 300;
  height: 100%;
  line-height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: 14px;
  width: 75px;
  color: $gray-4;
}

.logo {
  background-color: $blue-1;
  color: $gray-4;
  &:hover {
    background-color: $blue-2;
  }
}

.topnav-link-right {
  width: auto;
}
