.faq-section {
  width: 100%;

  // .section-name {
  //   font-size: 20px;
  //   line-height: 30px;
  //   background-color: $blue-1;
  //   color: $white;
  //   height: 30px;
  //   font-weight: 300;
  // }
}

// .faq-question {
//   padding: 10px 10px;

//   .question-name {
//     font-size: 18px;
//   }

//   .question-content {
//     color: $gray-2;
//   }
// }

.edit-bar {
  height: 100px;
  width: 100%;
}



.faq-section {
  margin-bottom: 2 * $spacing-main;

  .faq-question {
    border-bottom: 1px solid $gray-4;
    border-top: 1px solid $gray-4;
    line-height: 36px;
    margin-bottom: -1px;
    width: 100%;
    padding: 5px $spacing-main;

    &:hover {
      background-color: $gray-6;
    }

    .name {
      font-size: 24px;
    }
  }
}

