/*$gray-0: #fcfcfc;
$gray-1: #f2f2f2;
$gray-2: #d9d9d9;
$gray-6: #a6a6a6;
$gray-8: #33334c;*/

$green-1: #77b395;
$green-2: #4b956f;
$green-3: #28774f;
$green-4: #0f5933;

$blue-1: #063c4a;
$blue-2: #006680;
$blue-3: #00a6cf;
$blue-4: #3ac1e1;

$teal-1: #0dceaf;
$red-1: #e7465a;
$yellow-1: #fdb813;

$gray-01: #333;
$gray-02: #666;
$gray-03: #d2d2d2;
$gray-04: #fafafa;


$white: #fff;
$yellow-green: #b0eb00;
$light-purple-grey: #aaaad0;
$dark-purple: #606;

$dark-red: #c61851;
$light-red: #e38eaa;
