$gray-0: #fcfcfc;
$gray-1: #f2f2f2;
$gray-2: #d9d9d9;
$gray-6: #a6a6a6;
$gray-8: #33334c;

$red-0: #e0b2c1;
$red-1: #e38eaa;
$red-4: #d47997;
$red-5: #c61851;

$white: #fff;
$yellow-green: #b0eb00;
$light-purple-grey: #aaaad0;
$dark-purple: #606;

$dark-red: #c61851;
$light-red: #e38eaa;
