.app-container {
  min-width: 800px;
}

.topnav {
  height: 35px;
  width: 100%;
  border-bottom: 2px solid grey;
}

.topnav-link {
  cursor: pointer;
  height: 100%;
  line-height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: 14px;
  width: 75px;

  &:hover {
    background-color: grey;
  }
}

.topnav-link-right {
  width: auto;
}