@import './normalize';
@import './colors';
@import './font';
@import './modal';
@import './form';
@import './components';

@import './faqs';

* {
  margin: 0;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.hide {
  display: none;
}

.clickable {
  cursor: pointer;
}

.text-link {
  @extend .clickable;
  color: $red-4;
}