@import './colors';
@import './modal';
@import './form';
@import './components';

* {
  margin: 0;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.hide {
  display: none;
}
